<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="com.microsoft.azure.toolkit.explorer">
      <explorerContributor
            implementation="com.microsoft.azure.toolkit.ide.springcloud.SpringCloudExplorerContributor">
      </explorerContributor>
   </extension>
   <extension
         point="com.microsoft.azure.toolkit.actions">
      <actionContributor
            implementation="com.microsoft.azure.toolkit.ide.springcloud.SpringCloudActionsContributor">
      </actionContributor>
   </extension>
</plugin>